﻿@{
    ViewData["Title"] = "Knights Of The Fallen Crown";
}

<div class="text-center">
    <h1 class="medievalTitleFontOnly">KNIGHTS OF THE FALLEN CROWN</h1>
    <p>
        This is a test div. [<br />
        <cyberbutton></cyberbutton>
        <br />]
    </p>
    <p>
      
        <img src="~/lib/gameasset/Image/premadeknights/Fh_hero-character-warden_ncsa.png" class="gTW" />
    </p>
    <p class="gTZRG">In order to play the game, please <a asp-controller="Accounts" asp-action="Login">Log in my nigga</a>.</p>

</div>