﻿@using KnightsOfTheFallenCrown.Core.Domain
@using static KnightsOfTheFallenCrown.Core.Domain.Continents
@model KnightsOfTheFallenCrown.Models.Battlefields.BattlefieldCreateUpdateViewModel
@if (Model.ID.HasValue)
{
    <h1 class="medievalTitleFontOnly">Edit Battlefield</h1>
}
else
{
    <h1 class="medievalTitleFontOnly">Find a New Battlefield</h1>
}
<div class="gTZRG">
    <form method="post" enctype="multipart/form-data">
        <input asp-for="ID" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group-row">
            <label asp-for="BattlefieldName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="BattlefieldName" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="BattlefieldDescription" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="BattlefieldDescription" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="BattlefieldType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="BattlefieldType" asp-items="Html.GetEnumSelectList<BattlefieldType>()">
                    <option value="">Select type of battlefield</option>
                </select>
                <span asp-validation-for="BattlefieldType" class="galacticErrorMessageColor"></span>
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="ContinentID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="ContinentID" asp-items="Html.GetEnumSelectList<Continent>()">
                    <option value="">Select continent</option>
                </select>
                <span asp-validation-for="ContinentID"></span>
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="EnvironmentBoost" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for=EnvironmentBoost asp-items="Html.GetEnumSelectList<KnightTYPE>()">
                    <option value="">Select environmental boost</option>
                </select>
                <span asp-validation-for="EnvironmentBoost" class="galacticErrorMessageColor"></span>
            </div>
        </div>



       @*  <div class="form-group-row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control custom-file-input"
                           asp-for="Files"
                           multiple type="file" />
                    <label class="custom-file-label">Choose Images from device -></label>
                </div>
            </div>

        </div> *@
        @if (Model.ID.HasValue)
        {
            <input asp-action="Update"
                   asp-controller="Battlefields"
                   type="submit"
                   class="btn medievalButton"
                   value="Save Changes" />
        }
        else
        {
            <input asp-action="Create"
                   asp-controller="Battlefields"
                   type="submit"
                   class="btn medievalButton"
                   value="Make this Battlefield" />
        }

        <a asp-action="index" class="btn medievalButton">Cancel</a>

    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-input');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}