@model KnightOfTheFallenCrown.Models.Accounts.ResetPasswordViewModel

<h2>ResetPassword</h2>
<hr />
<form method="post">
    <div asp-validation-summary="All" class=" text-danger"></div>
    <input asp-for="Token" type="hidden" />
    input asp-for

</form>




